/*
    Theme: MAI MI IOTU - Minimal White
*/

:root {
    --damso-color-primary: #000000;
    --damso-color-secondary: #495057;
    --damso-color-surface: #F8F9FA;
    --damso-color-text: #212529;
    --damso-font-body: 'Noto Sans KR', sans-serif;
    --damso-bg-button: var(--damso-color-primary);
    --damso-text-button: #FFFFFF;
}